.BusinessFeature {
  padding: 50px 70px;
  display: grid;
  grid-template-columns: 1fr;
}

.Feat {
  display: flex;
  gap: 10px;
}

.FeatureCard {
  padding: 50px 0px 0px 50px;
  border-radius: 16px;
  background-color: var(--lightblue);
  top: 0;
  left: 0;
  gap: 10px;
}

.FeatureText {
  padding-top: 30px;
}
.FeatureCard h1,
p {
  color: var(--navyblue);
  font-family: "PolySans Bulky";
}

.FeatureCard span {
  color: var(--blue);
}
.Left {
  grid-column-start: 1;
  grid-column-end: 1;
}
.Right {
  grid-column-start: 2;
  grid-column-end: 2;
}

@media only screen and (max-width: 600px) {
  .Image {
    width: -webkit-fill-available;
  }
}
