.ApiDiv{
padding: 40px 60px;
display: grid;
grid-template-columns: auto auto;
justify-content: space-evenly;
align-items: center;
}
.ApiLeft{
padding: 30px;
}

.ApiRight{
   padding: 30px; 
}

.Text h1{
color: var(--navyblue);
font-family: "PolySans Bulky";
font-size: 50px;
}
.Text span{
    color: var(--blue);
}
.Text p{
    color: var(--grey);
    font-family: "PolySans Median";
}
.Button{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    font-family: "PolySans Median";

}


@media only screen and (max-width: 600px) {
    .ApiDiv{
      display: flex;
      flex-direction: column;
    }
    
    .Image{
      width: 300px;
    }
    .ApiRight{
    padding: 0px;
    }
    .Text h1{
    font-size: 40px;
    }
    }