.Hero {
  padding: 50px 100px;
  background-color: var(--white);
}

.RectBlue {
  height: 680px;
  padding: 40px;
  border-radius: 32px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../img/Rectangle.png);
}

.HeroText {
  display: flex;
  flex-direction: column;
}

.ImageLeft {
  position: absolute;
  top: 550px;
  left: 100px;
}
.ImageRight {
  position: absolute;
  top: 585px;
  right: 100px;
}

.Top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Top h1 {
  font-family: "PolySans Bulky";
  color: var(--white);
  font-size: 50px;
}

.Top span {
  font-family: "PolySans Median";
  color: var(--white);
  text-align: center;
}
.ShopDiv {
  background-color: var(--white);
  padding: 12px 18px;
  border-radius: 4px;
  box-shadow: 4px 7px #1890ff99;
}
.ShopDiv span {
  color: var(--blue);
  font-family: "PolySans Median";
  font-weight: 500;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .Hero {
    padding: 20px 30px;
  }
  .Images{
    display: none;
  }
  .Top h1 {
    font-size: 20px;
    text-align: center;
  }
  .RectBlue {
    height: 410px;
  }
}