*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  /* transition: all 0.3s; */
  scroll-behavior: smooth;

}
@font-face {
  font-family: PolySans Bulky;
  src: url(../public/assets/fonts/PolySans\ Bulky\ Wide.ttf);
}
@font-face {
  font-family: PolySans Median;
  src: url(../public/assets/fonts/PolySans\ Median.ttf);
}
@font-face {
  font-family: PolySans Neutral;
  src: url(../public/assets/fonts/PolySans\ Neutral.ttf);
}
@font-face {
  font-family: PolySans Slim;
  src: url(../public/assets/fonts/PolySans\ Slim.ttf);
}

:root {
  --blue: #0069E0;
  --white: #ffffff;
  --grey: #8A91A8;
  --navyblue: #000429;
  --lightgrey: #F3F4F7;
}
::-webkit-scrollbar {
  display: none;
}
ul{
  list-style: none;
}
.ant-input-affix-wrapper-lg{
  border-radius: 10px !important;
}

.ant-input-affix-wrapper-lg{
  background-color: var(--lightgrey) !important;
}
.ant-input-affix-wrapper > input.ant-input {
  background-color: var(--lightgrey) !important;

}
.ant-btn-primary{
  border-radius: 4px !important;
  font-family: PolySans Slim !important;
  background-color: var(--blue) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* padding: 10px !important; */
}